POST:
<input type="text" id="newString" />
<button onclick="SendPOST()">Add</button> <br />

GET:
<button onclick="GetAllList()">Get</button> <br />

GET by ID:
<input type="number" id="getId" />
<button onclick="GetById()">Get</button> <br />

PUT:
<input type="number" id="PutId" />
<button onclick="sendPUT()">PUT</button> <br />


DELETE by ID:
<input type="number" id="DeleteId" />
<button onclick="DeleteById()">Delete</button> <br />



<br />
Response:
<p id="out"></p>


<script>
    function SendPOST() {
        const newStr = document.getElementById("newString");

        if (newStr.value === "") {
            alert("Please, write new string");
            return;
        }

        const x = new XMLHttpRequest();
        x.onreadystatechange = () => {
            if (x.readyState === 4) {
                alert("Add OK");
            }
        }

        x.open("POST", "/api/values", true);
        x.setRequestHeader("Content-Type", "application/json");
        x.send('"' + newStr.value + '"');



    }

    function GetAllList() {
        const x = new XMLHttpRequest();

        x.onreadystatechange = () => {
            if (x.readyState === 4) {
                out.innerHTML = x.responseText;
            }
        }

        x.open("GET", "/api/values", true);
        x.send();
    }

    function GetById() {
        const id = document.getElementById("getId").value;

        const x = new XMLHttpRequest();
        x.onreadystatechange = () => {
            if (x.readyState === 4) {
                out.innerHTML = x.responseText;
            }
        }

        x.open("GET", "/api/values/" + id, true);
        x.send();
    }

    function sendPUT() {
        const id = document.getElementById("PutId").value;

        //$.ajax({
        //    url: '/api/values?' + id,
        //    type: 'PUT',
        //    //contentType: 'application/json;charset=utf-8',
        //    data: id,
        //    success: function () {
        //        out.innerHTML = "Success";
        //    },
        //    error: function () {
        //        alert("Error");
        //    }
        //});  

        const x = new XMLHttpRequest();
        x.onreadystatechange = () => {
            if (x.readyState === 4) {
                out.innerHTML = JSON.parse(x.responseText);
            }
        }

        x.open("PUT", "/api/values/" + id, true);
        x.setRequestHeader("Content-Type", "application/json");
        x.send('"value' + (id+1) + '"');
    }

    function DeleteById() {
        const id = document.getElementById("DeleteId").value;

        const x = new XMLHttpRequest();
        x.onreadystatechange = () => {
            if (x.readyState === 4) {
                out.innerHTML = x.responseText;
            }
        }

        x.open("DELETE", "/api/values/" + id, true);
        x.send();
    }


</script>